body{

    margin: 0px;
    padding: 0px;
}

.nav{

    width: 100%;
    height: 100vh;
     background-image: url(./images/desktop/image-header.jpg);
    justify-content: center;
    display: block;
    background-position: center;
    background-size: cover;
}

.one{

    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    
}

.one h1{

width: 30px;
height: 20px;
font-size: 35px;
color: white;
padding-left: 20px;
font-style: normal;
font-weight: bolder;
}

.oneitem{

    display: flex;
    gap: 60px;
  margin-right: 40px;
}

.oneitem .item{

   font-size: 20px;
    color: white;
    margin-top: 30px;
}

.oneitem .item1{

    padding-top:15px;
    padding-left: 0px;
   
   


}

button{

    width: 140px;
    height: 60px;
    border-radius: 30px;
    color: black;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    
}

.one1{

    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
 

}

.one1 h1{

    font-size: 50px;
    letter-spacing: 4px;
    color: white;
    font-weight: bolder;

}

.oneimg{

    display: flex;
    justify-content: center;
   
   
   
    
}
    

.oneimg img{

    width: 40px;
    height: 130px;
    

    
}




/* Two */


.nav1{

    width: 100%;
    height: 70vh;
    display: flex;
}

.Two{

    width: 50%;
    height: 70vh;
    background-color: white;

}

 .Two .item{

padding-left: 150px;
padding-top: 130px;
}

.Two h1{

font-size: 40px;
height: 20px;
width: 300px;
font-weight: bolder;
font-style: normal;

}

.Two p{

    font-size: 18px;
    width: 450px;
    padding-top: 70px;
    color: gray;
}


.Two h4{

    text-transform: uppercase;
    font-size: 16px;
    text-decoration-line:underline ;
    text-decoration-color: rgb(224, 211, 136);
    text-decoration-thickness:4px ;
    
}

.Two1{

    width: 50%;
    height: 70vh;
   background-image: url(./images/desktop/image-transform.jpg);
}

/* Three */


.nav2{

    width: 100%;
    height: 70vh;
    display: flex;
}

.Three{

    width: 50%;
    height: 70vh;
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}

.item1{

    padding-left: 150px;
padding-top: 130px;

}


.Three1{

width: 50%;
height: 70vh;

    
}

.Three1 h1{

font-size: 40px;
height: 20px;
width: 400px;
font-weight: bolder;
font-style: normal;
}

.Three1 p{

    font-size: 18px;
    width: 500px;
    padding-top: 70px;
    color: gray;
}

.Three1 h4{

     text-transform: uppercase;
    font-size: 16px;
    text-decoration-line:underline ;
    text-decoration-color: rgb(238, 173, 173);
    text-decoration-thickness:4px ;
}

/* four */


.nav3{

    width: 100%;
    height: 70vh;
    display: flex;
}

.Four{

    width: 50%;
    height: 70vh;
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
}

.Four .view1{

    padding-left: 200px;
padding-top: 350px;

}

.view1 h1{

    font-size: 25px;
height: 20px;
width: 400px;
font-weight: bolder;
font-style: normal;
color: rgba(5, 9, 5, 0.558);

margin-left: 80px;
}

.view1 p{

       font-size: 18px;
    width: 400px;
    padding-top: 30px;
    color: rgb(26, 114, 83);
   

}

.Four1{

    width: 50%;
    height: 70vh;
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    
}

.Four1 .view2{

       padding-left: 250px;
padding-top: 350px;

}


.view2 h1{

      font-size: 25px;
height: 20px;
width: 400px;
font-weight: bolder;
font-style: normal;
color: rgb(5, 81, 106);
margin-left: 80px;
}

.view2 p{

      font-size: 18px;
    width: 400px;
    padding-top: 30px;
    color: rgb(5, 81, 106);
}





/* Five */


.nav4{

    width: 100%;
    height: 80vh;
    background-color: white;
}

.nav4 h1{

    color: rgb(169, 166, 166);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 650px;
    padding-top: 90px;
     font-weight: bold;
}

.person{

    display: flex;
    justify-content: center;
}

.nav4 .girl1{

    display: block;
    width: 33%;
  padding-left: 230px;
  padding-top: 50px;
   
}

.girl1 img{

  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* padding-left: 30px; */
  margin-left: 80px;
 
  


}

.girl1 p{

    color: gray;
    width: 300px;
    font-size: 19px;
    height: 90px;
    padding-top: 30px;
    padding-right: 90px;
    
}

.girl1 h2{

    font-size: 20px;
    padding-left: 90px;
    height: 9px;
    
}


.girl1 h5{

    color: rgb(205, 198, 198);
    font-size: 18px;
    padding-left: 60px;
    
}

.nav4 .boy1{

  display: block;
    width: 33%;
 
  padding-top: 50px;
}

.boy1 img{

     width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 80px;
}

.boy1 p{

     color: gray;
    width: 350px;
    font-size: 19px;
    height: 90px;
    padding-top: 30px;
    padding-right: 90px;
    
}

.boy1 h2{

     font-size: 20px;
    padding-left: 90px;
    height: 9px;
    

}

.boy1 h5{

    color: rgb(205, 198, 198);
    font-size: 18px;
    padding-left: 60px;
    
}



.nav4 .girl2{

display: block;
    width: 33%;
 
  padding-top: 50px
} 

.girl2 img{

      width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 80px;
}

.girl2 p{

      color: gray;
    width: 360px;
    font-size: 19px;
    height: 90px;
    padding-top: 30px;
    padding-right: 90px;
    
}

.girl2 h2{


     font-size: 20px;
    padding-left: 90px;
    height: 9px;
}

.girl2 h5{

    color: rgb(205, 198, 198);
    font-size: 18px;
    padding-left: 60px;
}









/* six */

.nav5{

    width: 100%;
    height: 40vh;
    display: flex;
}

.nav5 .six1{

    width: 25%;
    height: 50vh;
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    background-position:center ;
    background-size: cover;
    
}

.nav5 .six2{

    width: 25%;
    height: 50vh;
    background-image: url(./images/desktop/image-gallery-orange.jpg);
    background-position:center ;
    background-size: cover;
}

.nav5 .six3{

     width: 25%;
    height: 50vh;
    background-image: url(./images/desktop/image-gallery-cone.jpg);
    background-position:center ;
    background-size: cover;
}

.nav5 .six4{

     width: 25%;
    height: 50vh;
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    background-position:center ;
    background-size: cover;
}



/* seven */

.nav6{

    width: 100%;
    height: 40vh;
    background-color: rgb(151, 239, 203);
    display: block;
}

.nav6 h1{

    color: rgb(4, 156, 105);
    font-size: 27px;
    padding-left: 700px;
    padding-top: 100px;

}

.nav6 .last{

    display: flex;
    gap: 40px;
    color: rgb(7, 160, 114);
    font-size: 17px;
    padding-left: 650px;
    padding-top: 20px;

}

.nav6 .imagine{

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
   gap: 40px;
   padding-top: 70px;

  
  
  
 



}

.imagine img{



    width: 20px;
    height: 20px;

   
    
}